<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group5.five.web.admin.dao.ProductCategoryDao">
    <sql id="TbContentCategoryColumns">
    a.category_id AS categoryId,
    a.category_name AS categoryName,
    a.parent_id AS parentId,
    a.is_parent AS isParent,
    IFNULL(b.category_id,'0') AS "parent.category_id",
    IFNULL(b.category_name,'/') AS "parent.category_name"
    </sql>


    <sql id="TbContentCategoryJoins">
         LEFT JOIN category AS b
    ON a.parent_id = b.category_id
    </sql>


    <select id="select" resultType="Category">

    SELECT
      a.category_id As categoryId,
      a.category_name As categoryName,
      a.parent_id As parentId,
      a.is_parent As isParent,
      IFNULL(b.category_id,'0') As "parent.categoryId",
      IFNULL(b.category_name,'/') As "parent.categoryName"
    FROM category AS a
      LEFT JOIN category AS b
        ON a.parent_id = b.category_id
    ORDER BY a.parent_id ASC, a.is_parent ASC
    </select>

    <select id="selectByParentId" resultType="Category">
        SELECT
        <include refid="TbContentCategoryColumns"/>
        FROM
        tb_content_category as a
        <include refid="TbContentCategoryJoins"/>
        WHERE a.parent_id = #{id}



    </select>

    <select id="selectById" resultType="Category">
        SELECT
        <include refid="TbContentCategoryColumns"/>
        FROM tb_content_category AS a
        <include refid="TbContentCategoryJoins"/>
        WHERE a.id = #{id}
    </select>


    <insert id="insert" >
        INSERT INTO tb_content_category (
          parent_id,
          name,
          status,
          sort_order,
          is_parent,
          created,
          updated
        )
        VALUES
          (
           #{parent.id},
           #{name},
           #{status},
           #{sortOrder},
           #{isParent},
           #{created},
           #{updated}
          )
    </insert>

    <update id="update">
       UPDATE
          tb_content_category
        SET
          parent_id = #{parent.id},
          name = #{name},
          status = #{status},
          sort_order = #{sortOrder},
          is_parent = #{isParent},
          created = #{created},
          updated = #{updated}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE
          a,
          b
        FROM
          tb_content_category AS a
          LEFT JOIN tb_content_category b
            ON a.id = b.parent_id
        WHERE a.id = #{id}
    </delete>





</mapper>